@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  background-image: url(../img/blackboard.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100% 100vh;
}

body {
  color: #dacbcb;
  list-style: circle;
  overflow: hidden;
}

.main-title {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #4b5ba3;
  letter-spacing: 10px;
  font-size: 6rem;
  text-align: center;
  padding: 50px 0 0 0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 0 0 0;
  font-size: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-goals {
  line-height: 50px;
}
.main-goals__title {
  padding: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.active {
  font-weight: 700;
  color: #00a2ff;
}

.list {
  list-style: circle;
  cursor: pointer;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.list:hover {
  color: #00a2ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.new-goal {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  -webkit-transition: border-bottom 150ms ease-in;
  transition: border-bottom 150ms ease-in;
}

.new-goal:focus {
  border-bottom-width: 3px;
  border-color: #00a2ff;
}

.new-goal:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

.new-goal:focus::-moz-placeholder {
  opacity: 0.2;
}

.new-goal:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.new-goal:focus::-ms-input-placeholder {
  opacity: 0.2;
}

.new-goal:focus::placeholder {
  opacity: 0.2;
}

.btn-goal {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
}

.sub-goals__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 25px;
  background-color: rgba(148, 136, 136, 0.5);
  border-radius: 10px 10px 0 0;
}
.sub-goals__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.sub-goals__remaining {
  font-size: 1.3rem;
}
.sub-goals__body {
  line-height: 50px;
  background-color: rgba(53, 105, 43, 0.5);
  padding: 25px;
}
.sub-goals__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: rgba(148, 136, 136, 0.5);
}

.task label {
  display: flex-inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.task {
  position: relative;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  margin-bottom: 1.25rem;
}

.task:hover .custom-checkbox,
[type=checkbox]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-color: #00a2ff;
}

[type=checkbox]:checked + label .custom-checkbox {
  background: #00a2ff;
  border-color: #dacbcb;
}

.task label::after {
  content: "";
  position: absolute;
  left: 1.3em;
  right: 0;
  top: 50%;
  height: 3px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}

[type=checkbox]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  --size: 1rem;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.btn {
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 900;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.btn-goal, .btn-task {
  font-size: 2rem;
}

.btn:hover, .btn:focus {
  color: #00a2ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}